{% extends "layout.html" %}
{%set var ='<div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          User
        </a>
        <div class="navbar-dropdown">
          <a  href="/login">
            Profile
          </a>
          <a  href="/logout">
            Logout
            </a>
        </div>
        </div>
    </div>' %}
{%block navbar%}{{var|safe}}{%endblock%}
{% block title %}Article{% endblock %}
{% block content %}
        

   
            <div style="width=%60">
   
    <div class="w3-container">
        <br>
        <br>
        <br>
		
      <h3><b>{{variable[3]}}</b><br><p>Send Date: {{variable[2]}}</p></h3><br><p>Given Time: {{variable[9]}}</p>
      
      {% if check(variable[0]) %}
          <a href={{url_for('deleteQuestion',qid=variable[1])}}><button value="Answer" class="button">Delete This Question</button></a>
          <a href={{url_for('editQuestion',qid=variable[1])}}><button value="Answer" class="button">Edit This Question</button></a>
      {% endif %}
      
      <h5><span class="w3-opacity">{{variable[2]}}</span></h5>
      
    </div>

    <div class="w3-container">
        <div style="width:%100;">
      <p align ="justify">{{variable[4]}}</p>
      </div>
    </div>
  </div>



  
	  <div class="comment">
	  {%if boolForm %}
		  <h6 style ="font size:"32;"" ><b>Send Your Answer!<br>If you answering question in behalf of your clan be sure you are admin and mark related radiobox bellow!</b></h6><br>
		  <form action={{url_for('problems',var=variable[1],reply=0)}}  method="POST">
			  {{answerform.csrf_token}}
			  {{answerform.answer.label}}
			  {{answerform.answer}}
			  <br>
			  {{answerform.amount.label}}
			  {{answerform.amount}}
			  <br>
			  {{answerform.radio}}
			  <input type="submit" value="Send" class= "ab">
			  {% if err %}
        			  <p>{{err}}</p>
			  {% endif %}
			  
		  </form>
		  {% else %}
        		  <h6 style ="font size:"32;"" ><b>Question Answered ,Time's Up or You Are Not Autorized</b>!<br>
        		  {% if show==true %}
        		  <p>Answer : {{variable[6]}}</p>
        		  {% endif %}
        		  
		  {% endif %}
	  </div>
      <div class="comment">

        {% for i in messages %}
        
       
            <p>
        	   <hr>
            <img src={{url_for('static', filename='avatars/'+func(i[0]))}} alt="avatar"  class = "avatar"style="float:left;width:42px;height:42px;">
           <a href={{url_for('user',var=i[0])}}> <b>{{funcid(i[0])}}</b></a>
                <a href={{url_for('problems',var=variable[1],reply=i[1])}}><button value="Answer" class="button">Answer</button></a>
                
                {% if check(i[0]) %}
                    <a href={{url_for('editMessage',problem_id=variable[1],message_id=i[1])}}><button value="em" class="button">Edit Message</button></a>
                    <a href={{url_for('deleteMessage',pid=variable[1],mid=i[1])}}><button value="em" class="button">Delete Message</button></a>
                {%else%}
                    <a href={{url_for('reportMessage',pid=variable[1],mid=i[1],typ='g')}}><button value="em" class="button">Report Message</button></a>
                {% endif %}
            <br>
            <i>{{i[2]}}</i>
            <br>

            
            
            </p>
            
                {% if i[8]|string()=="True"%}
                Possible Method of Solution!!!<br>
                <div class="spoiler" style="background-color:black;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='black'">
              {{i[3] | safe}}
              </div>
        {%else%}
        {{i[3] | safe}}
        {%endif%}
              
            
           
            {% if path(i[1]) !=None %}
                <br>
                <img src={{url_for('static', filename='avatars/'+path(i[1]))}} alt="image" style="float:left;width:8%;height:6%;">
                <br>
                <br>
                <br>
              
            {% endif %}
            <p id="demo"></p>
        {% endfor %}
        <hr>
        <h6 style ="font size:"32;"" ><b>Leave a Reply</b></h6>
        <br>
        
        {% if log() %}
            <form action={{url_for('problems',var=variable[1],reply=reply)}} method="POST"enctype="multipart/form-data">
    				
    				{{form.csrf_token}}
    			
    				
    				{{form.message}}
    				
                    	<br>
                    	{{form.spoiler}}
                    	{{form.spoiler.label}}
                    	<br>
                    	{{form.upload.label}}
                    	{{form.upload}}
                    	<input type="submit" value="Send" class= "ab">
                    	
            </form>
        {% else %}
            <p>Please Login To Leave Reply</p>
        {% endif %}
		  
  
      </div>
      

  

{%endblock%}    

  
       
